.csqaq-form {
  width: 100%;
}

.csqaq-form .el-form-item {
  margin-bottom: 20px;
}

.csqaq-form .api-key-link {
  font-size: 12px;
  color: var(--el-color-primary);
  text-decoration: none;
}

.csqaq-form .api-key-link:hover {
  text-decoration: underline;
}
